<a href="#" 
    class="dropdown-toggle" 
    data-toggle="dropdown">
    Edit
</a>
<ul 
    class="dropdown-menu" role="menu">
    <li>
        <a 
            href="#">
            Cut
        </a>
    </li>
    <li>
        <a 
            href="#">
            Copy
        </a>
    </li>
    <li>
        <a 
            href="#">
            Paste
        </a>
    </li>
    <li 
        class="divider">
    </li>
    <li>
        <a 
            href="#">
            Select All
        </a>
    </li>
    <li>
        <a 
            href="#">
            Clear Selection
        </a>
    </li>
</ul>