<a 
    href="#" 
    class="dropdown-toggle" 
    data-toggle="dropdown">
    File
</a>
<ul 
    class="dropdown-menu" 
    role="menu">
    <li 
        class="head">
        
        <a 
            href="#" ng-click="drawing.layerManager.addLayer()">
            New
        </a>
    </li>
    <li>
        <label 
            add-image>
            Open
            
            <input 
                class="add-image"
                type="file">
        </label>
    </li>
    <li>
        <a 
            href="#" 
            >
            Add Layer
        </a>
    </li>
</ul>