<a href="#" 
    class="dropdown-toggle" 
    data-toggle="dropdown">
    Image
</a>
<ul 
    class="dropdown-menu" role="menu">
    <li>
        <a 
            href="#">
            Information
        </a>
    </li>
    <li>
        <a 
            href="#">
            Size
        </a>
    </li>
    <li>
        <a 
            href="#">
            Trim
        </a>
    </li>
    <li>
        <a 
            href="#">
            Crop Selection
        </a>
    </li>
    <li 
        class="divider">
    </li>
    <li>
        <a 
            href="#">
            Resize
        </a>
    </li>
    <li>
        <a 
            href="#">
            Rotate
        </a>
    </li>
    <li>
        <a 
            href="#">
            Flip
        </a>
    </li>
    <li 
        class="divider">
    </li>
    <li>
        <a 
            href="#">
            Color corrections..
        </a>
    </li>
    <li>
        <a 
            href="#">
            Auto adjust colors
        </a>
    </li>
    <li>
        <a 
            href="#">
            Decrease color depth
        </a>
    </li>
    <li>
        <a 
            href="#">
            Negative
        </a>
    </li>
    <li>
        <a 
            href="#">
            Grid...
        </a>
    </li>
    <li 
        class="divider">
    </li>
    <li>
        <a 
            href="#">
            Histogram...
        </a>
    </li>
</ul>