<a href="#"
    class="dropdown-toggle"
    data-toggle="dropdown">
    Layer
</a>
<ul
    class="dropdown-menu" role="menu">
    <li
        ng-click="drawing.layerManager.addLayer()">

        <a
            href="#">
            New
        </a>
    </li>
    <li
        ng-click="drawing.layerManager.addDuplicateLayer()">

        <a
            href="#">
            Duplicate
        </a>
    </li>
    <li
        ng-click="drawing.layerManager.showHideLayer()">
        <a
            href="#">
            Show/Hide
        </a>
    </li>
    <li
        ng-click="drawing.layerManager.remove()">
        <a
            href="#">
            Delete
        </a>
    </li>
    <li
        class="divider">
    </li>
    <li>
        <a
            href="#">
            Move
        </a>
    </li>
    <li>
        <a
            href="#">
            Opacity...
        </a>
    </li>
    <li
        class="divider">
    </li>
    <li>
        <a
            href="#">
            Trim
        </a>
    </li>
    <li
        ng-click="drawing.layerManager.resizeLayer( null, 100, 100)">
        <a
            href="#">
            Resize..
        </a>
    </li>
    <li
        ng-click="drawing.layerManager.clearLayer()">
        <a
            href="#">
            Clear
        </a>
    </li>
    <li
        class="divider">
    </li>
    <li>
        <a
            href="#">
            Difference Down
        </a>
    </li>
    <li>
        <a
            href="#">
            Merge Down
        </a>
    </li>
    <li>
        <a
            href="#">
            Flattern Image
        </a>
    </li>
</ul>