<a href="#" 
    class="dropdown-toggle" 
    data-toggle="dropdown">
    Layer
</a>
<ul 
    class="dropdown-menu" role="menu">
    <li>
        <a 
            href="#">
            New
        </a>
    </li>
    <li>
        <a 
            href="#">
            Duplicate
        </a>
    </li>
    <li>
        <a 
            href="#">
            Show/Hide
        </a>
    </li>
    <li>
        <a 
            href="#">
            Delete
        </a>
    </li>
    <li 
        class="divider">
    </li>
    <li>
        <a 
            href="#">
            Move
        </a>
    </li>
    <li>
        <a 
            href="#">
            Opacity...
        </a>
    </li>
    <li 
        class="divider">
    </li>
    <li>
        <a 
            href="#">
            Trim
        </a>
    </li>
    <li>
        <a 
            href="#">
            Resize..
        </a>
    </li>
    <li>
        <a 
            href="#">
            Clear
        </a>
    </li>
    <li 
        class="divider">
    </li>
    <li>
        <a 
            href="#">
            Difference Down
        </a>
    </li>
    <li>
        <a 
            href="#">
            Merge Down
        </a>
    </li>
    <li>
        <a 
            href="#">
            Flattern Image
        </a>
    </li>
</ul>