 <div 
    class="container-fluid">            
    <!-- Brand and toggle get grouped for better mobile display -->
    <div 
        class="navbar-header">
        <a 
            class="navbar-brand" href="#">
            Paint
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div 
        class="collapse navbar-collapse" 
        id="bs-example-navbar-collapse-1">
        
        <ul 
            class="nav navbar-nav">
            <li 
                ng-include="'/templates/dropdowns/file.html'"
                class="dropdown">
                
            </li>
            <li 
                ng-include="'/templates/dropdowns/edit.html'"
                class="dropdown">
            </li>
            <li 
                ng-include="'/templates/dropdowns/image.html'"
                class="dropdown">
            </li>
            <li 
                ng-include="'/templates/dropdowns/layer.html'"
                class="dropdown">
            </li>
            <li
                ng-show="drawing.currentTool.template" 
                class="dropdown">
                
                <a 
                    href="#" 
                    class="dropdown-toggle" 
                    data-toggle="dropdown">
                    Feature 

                    <span 
                        class="caret">
                    </span>
                </a>
                <ul 
                    ng-click="$event.stopPropagation();"
                    class="dropdown-menu" 
                    role="menu"
                    onload="tool=drawing.currentTool"
                    ng-include="drawing.currentTool.template">
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</div>