
<div>
    <div
        ng-repeat="(index,data) in drawing.getToolList()" >
        <span
            class="tool {{index}}"
            ng-class="{selected: drawing.isSeletedTool(data)}"
            ng-click="drawing.setTool(index)"
            >
        </span>
    </div>
</div>
<div>
    <div
        ng-repeat="(index,data) in drawing.getShapeList()" >
        <span
            ng-click="drawing.setShape(index)"
            class="tool {{index}}"
            ng-class="{selected: drawing.isSeletedTool(data)}">
        </span>
    </div>
</div>
