<li
	ng-controller="toolActionController">
	<label>
		<span style="width: 150px;display: inline-block;" > Stroke Width </span>
		<input 
			type="number"
			class="input-micro" 
			ng-model="strokewidth"
			ng-change="tool.setStrokeWidth(strokewidth)"/>
	</label>
</li>
<li>
	<label>
		<span style="width: 150px;display: inline-block;">Start Arrow</span>
		<input  
			type='checkbox'
			ng-model="lineleftarrow"
			ng-change="tool.enableLeftArrow(lineleftarrow)" />
	</label>
</li>
<li>
	<label>
		<span style="width: 150px;display: inline-block;" >End Arrow</span>
		<input 
			type='checkbox'
			ng-model="linerightarrow"
			ng-change="tool.enableRightArrow(linerightarrow)" />
	</label>
</li>